*/*

!/Diploma template/Chapters
!/Diploma template/Images

!/Diploma practice report template/Chapters
!/Diploma practice report template/Images

!/Pgfplots/data
!/Pgfplots/images

!*.tex
!*.cls
!*.bib
!*.pdf

!*.png